body
{
    background-color: #d6f8f6;
}

hr
{
    border-style: none;                
    border-top-style: dotted;
    border-color: #a8afaf;               
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1
{
    color: #66bfbf;
}

h3
{
    color: #66bfbf;
}


